body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f1e3;
    font-family: "Work Sans";
}

nav, h1, h2, h3, h4 {
    font-family: Oswald;
}

#navigation {
    background-color: #3C4D71;
}

#navigation a {
    color: white;
}

#navigation a:hover {
    color: #c1c1c1
}

#current-date, #current-date ~ td {
    border-top: none;
}

#current-date {
    color: #3C4D71;
    font-weight: bolder;
    font-size: 175%;
}

#current-date ~ td a {
    display: inline-block;
    margin-top: 8px;
}

tr:hover {
    cursor: pointer;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}